<td>
  <input
    type="checkbox"
    class="form-check-input me-2"
    [checked]="task().status === 'Completed'"
    (change)="toggleCompleted(task())"
  />
</td>
<td>
  <b class="text-primary w-25">{{ task().name }}</b>
</td>
<td>
  <button class="btn btn-primary m-auto">pokaż opis</button>
</td>
<td>{{ task().date }}</td>
<td style="min-width: 100px">
  <span class="badge bg-info">{{ task().status }}</span>
</td>
<!-- <button class="btn btn-link" (click)="toggleDescription()">pokaż opis</button>
@if (descVisible) {
<p>{{ task().description }}</p>
} -->
