<td>
  <input
    type="checkbox"
    class="form-check-input me-2"
    [checked]="task().status === 'Completed'"
    (change)="toggleCompleted(task())"
    [id]="'taskName' + index"
  />
</td>
<td (click)="toggleCompleted(task())" role="button">
  <b class="text-primary w-25">{{ task().name }}</b>
</td>
<td>
  <ng-content></ng-content>
</td>
<td>{{ task().date }}</td>
<td style="min-width: 100px">
  <span class="badge bg-info">{{ task().status }}</span>
</td>
<td class="d-flex">
  <app-todo-edit-item [index]="index()"></app-todo-edit-item>
  <app-todo-delete-item [index]="index()"></app-todo-delete-item>
</td>
