<div class="container bg-dark-subtle rounded-3 shadow p-0 pt-2 mt-5">
  <div class="d-flex justify-content-between p-3 py-1">
    <h1 class="fs-2">Lista zadań</h1>
    <app-todo-add-form></app-todo-add-form>
  </div>
  <table class="table rounded-3 m-0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <!-- <th scope="col">Other</th> -->
      </tr>
    </thead>
    <tbody>
      @for (task of tasks; track $index) {
      <tr
        app-todo-item
        [task]="task"
        [index]="$index"
        class="item p-2 px-3 bg-white"
        [ngClass]="[task.status.toLowerCase()]"
        [isCollapsed]="isCollapsed[$index]"
      >
        <button
          class="btn btn-outline-secondary"
          (click)="isCollapsed[$index] = !isCollapsed[$index]"
        >
          <i class="bi bi-card-text"></i>
        </button>
      </tr>
      <tr>
        <td class="p-0"></td>
        <td colspan="4" class="p-0">
          <div
            [ngbCollapse]="isCollapsed[$index]"
            [id]="'taskDescription' + $index"
            #collapse="ngbCollapse"
          >
            <p class="p-2 pt-0 m-0">{{ task.description }}</p>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
