table {
  tbody {
    tr {
      &:last-child,
      &:nth-last-child(2):not(.descShowed) {
        td {
          border-bottom: none !important;
          &:first-child {
            border-bottom-left-radius: var(--bs-border-radius-lg);
          }
          &:last-child {
            border-bottom-right-radius: var(--bs-border-radius-lg);
          }
        }
      }
    }
  }
}
